doctype html
html(lang="uk")
	head
		include ./_head.jade
	body
		include ./components/_header.jade
		include ./components/_content.jade
		include ./components/_footer.jade
		//scripts
		
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/bootstrap.min.js")
		script(src="vendor/js/jquery.formstyler.min.js")
		script(src="vendor/js/jquery.moving-bubble.js")
		script(src="vendor/js/jquery.scrollTo.js")
		script(src="vendor/js/jquery.viewportchecker.min.js")
		script(src="vendor/js/typed.js")
		script(src="vendor/js/jquery.mask.min.js")
		script(src="js/main.js")
		//- endinject
			
