main
	section#banner
		.container
			.row
				.col-sm-6
					.banner__title
						h1
							span#typing
							span Онлайн
						ul
							li Друк документів
							li Тверда та м’яка палітурка
							li Кольорове сканування
						a.butn.scrollTo(href='#about') про копі-центр
				.col-sm-6
					.banner__img
						img(src='img/img-banner.png' alt='')
		a(href="#about").scrollTo.scroll-down.slideInDown.animated.infinite
	section#about
		ul.divider
			li
			li
			li
			li
			li
			li
			li
		.container
			.section__title
				span Якість. Терміни. Сервіс
				h2 Про Копі-центр
			.row.row-eq-height
				.col-sm-7.animatedImg
					.mask
					.flying-text
						span copycenter
					img.img3(src='img/img-about3.png' alt='about us')
					img.img2(src='img/img-about2.png' alt='about us')
					img.img1(src='img/img-about1.png' alt='about us')

				.col-sm-5
					.about__text
						h3 Копі-центр пропонує наступні послуги:
						ul
							li друк та сшивка проектів, презентацій;
							li кольоровий та чорно-білий друк\копіювання документів;
							li палітурні роботи: зшивання дисертацій, дипломів, проектів, курсових робіт (м’яка палітурка на пластикову пружину);
							li кольорове сканування зображень та документів.
						p Ми служба друку нон-стоп, яка пропонує швидке рішення Ваших задач і відкриті 7 днів на тиждень. Ми пропонуємо друк для клієнтів, у яких дедлайн завтра, і потрібна висока якість за дуже привабливими цінами.
						p Зв’яжіться з нами зараз і замовлення буде у Вас, з доставкою до дверей.
	section#prices
		.container
			.section__title
				span Відмінне співвідношення ціна-якість
				h2 ВАРТІСТЬ
			.row
				.col-sm-6.col-md-4
					.price.from-left
						.price__title
							h3 Чорно-білий друк
						.price__text Копіювання документів може виготовлятись на папері різної щільності (від 80 до 160грам), текстури (матова, глянець), формату А4-А3.
						ul.price__link
							li
								a.open-details(href='javascript:void(0)') Детальніше про ціну
							li
								a.close-details(href='javascript:void(0)') приховати ціну
						.price__details
							table
								tr
									td Формат
									td Папір 80 гр/м2
									td Папір 160 гр/м2
								tr
									td А4
									td 0,75 грн.
									td 1,75 грн.
								tr
									td А3
									td 1,25 грн.
									td 2,25 грн.
							.price__details-hint Ціна друку вказана за лист з однієї сторони, при двухстороньому друку ціна множиться на 2.
							.text-center
								a.butn(data-toggle="modal" href="#order")  замовити
					.price.from-left
						.price__title
							h3 Кольоровий друк
						.price__text Наш центр пропонує кольоровий друк найрізноманітніших форм і розмірів (А4 чи А3).
						ul.price__link
							li
								a.open-details(href='javascript:void(0)') Детальніше про ціну
							li
								a.close-details(href='javascript:void(0)') приховати ціну
						.price__details
							table
								tr
									td Формат
									td Папір 80 гр/м2
									td Папір 160 гр/м2
								tr
									td А4
									td 0,75 грн.
									td 1,75 грн.
								tr
									td А3
									td 1,25 грн.
									td 2,25 грн.
							.price__details-hint Ціна друку вказана за лист з однієї сторони, при двухстороньому друку ціна множиться на 2.
							.text-center
								a.butn(href='#')  замовити
					.price.from-left
						.price__title
							h3 Виготовлення печаток та штампів
						.price__text Ми робимо печаті і штампи з елементами	захисту, різної складності і різних варіантів за призначенням.
						ul.price__link
							li
								a.open-details(href='javascript:void(0)') Детальніше про ціну
							li
								a.close-details(href='javascript:void(0)') приховати ціну
						.price__details
							table
								tr
									td Формат
									td Папір 80 гр/м2
									td Папір 160 гр/м2
								tr
									td А4
									td 0,75 грн.
									td 1,75 грн.
								tr
									td А3
									td 1,25 грн.
									td 2,25 грн.
							.price__details-hint Ціна друку вказана за лист з однієї сторони, при двухстороньому друку ціна множиться на 2.
							.text-center
								a.butn(href='#')  замовити
				.hidden-on-991.col-md-4
					.img-price-wrapper
						img(src='img/img-price-layer3.png' alt='')
						img(src='img/img-price-layer2.png' alt='')
						img(src='img/img-price-layer1.png' alt='')
						.mask

				.col-sm-6.col-md-4
					.price.price_right.from-right
						.price__title.price__title_right
							h3 Сканування
						.price__text Ми робимо кольорове сканування, чорно-біле сканування, сканування книг, фотографій, креслень.
						ul.price__link
							li
								a.open-details(href='javascript:void(0)') Детальніше про ціну
							li
								a.close-details(href='javascript:void(0)') приховати ціну
						.price__details
							table
								tr
									td Формат
									td Папір 80 гр/м2
									td Папір 160 гр/м2
								tr
									td А4
									td 0,75 грн.
									td 1,75 грн.
								tr
									td А3
									td 1,25 грн.
									td 2,25 грн.
							.price__details-hint Ціна друку вказана за лист з однієї сторони, при двухстороньому друку ціна множиться на 2.
							.text-center
								a.butn(href='#')  замовити
					.price.price_right.from-right
						.price__title.price__title_right
							h3 Палітурні роботи
						.price__text Палітурка металевим каналом MetlBlind і на пластикову пружину
						ul.price__link
							li
								a.open-details(href='javascript:void(0)') Детальніше про ціну
							li
								a.close-details(href='javascript:void(0)') приховати ціну
						.price__details
							table
								tr
									td Формат
									td Папір 80 гр/м2
									td Папір 160 гр/м2
								tr
									td А4
									td 0,75 грн.
									td 1,75 грн.
								tr
									td А3
									td 1,25 грн.
									td 2,25 грн.
							.price__details-hint Ціна друку вказана за лист з однієї сторони, при двухстороньому друку ціна множиться на 2.
							.text-center
								a.butn(href='#') замовити
					.price.price_right.from-right
						.price__title.price__title_right
							h3 Ламінування
						.price__text Оберігає від механічних пошкоджень, а також підсилює колір і якість ламінованих документів
						ul.price__link
							li
								a.open-details(href='javascript:void(0)') Детальніше про ціну
							li
								a.close-details(href='javascript:void(0)') приховати ціну
						.price__details
							table
								tr
									td Формат
									td Папір 80 гр/м2
									td Папір 160 гр/м2
								tr
									td А4
									td 0,75 грн.
									td 1,75 грн.
								tr
									td А3
									td 1,25 грн.
									td 2,25 грн.
							.price__details-hint Ціна друку вказана за лист з однієї сторони, при двухстороньому друку ціна множиться на 2.
							.text-center
								a.butn(href='#')  замовити
	section#delivery
		.container
			.section__title.section__title_white
				span Умови копі-центру
				h2 доставка
			ul.tab-navigate
				li
					a(data-toggle='tab', href='#delivery-type1')
						span.delivery__icon.delivery__icon_tag
						|Ваше місто
				li.active
					a(data-toggle='tab', href='#delivery-type2')
						span.delivery__icon.delivery__icon_user
						|Кур’єром
				li
					a(data-toggle='tab', href='#delivery-type3')
						span.delivery__icon.delivery__icon_bus
						|Новою Поштою
			.tab-content
				#delivery-type1.tab-pane.fade.delivery__description
					p
						|  Ваше місто Адресна доставка до дверей товарів виконується кур’єрами по м. Хмельницькому.
					p
						span Термін доставки:
						|3-4 години з моменту виконання замовлення.
					p
						span Вартість:
						|доставка замовлення вартістю більше 300 грн безкоштовно, якщо вартість замовлення менше 300 грн, вартість доставки - 50 грн.
					p
						span Оплата:
						|на банківську карту або готівкою кур’єру.
				#delivery-type2.tab-pane.fade.delivery__description.in.active
					p
						| Адресна доставка до дверей товарів виконується кур’єрами по м. Хмельницькому.
					p
						span Термін доставки:
						| 3-4 години з моменту виконання замовлення.
					p
						span Вартість:
						| доставка замовлення вартістю більше 300 грн безкоштовно, якщо вартість замовлення менше 300 грн, вартість доставки - 50 грн.
					p
						span Оплата:
						| на банківську карту або готівкою кур’єру.
				#delivery-type3.tab-pane.fade.delivery__description
					p
						| Новою Поштою  Адресна доставка до дверей товарів виконується кур’єрами по м. Хмельницькому.
					p
						span Термін доставки:
						| 3-4 години з моменту виконання замовлення.
					p
						span Вартість:
						| доставка замовлення вартістю більше 300 грн безкоштовно, якщо вартість замовлення менше 300 грн, вартість доставки - 50 грн.
					p
						span Оплата:
						| на банківську карту або готівкою кур’єру.
	section#requrements
		ul.divider
			li
			li
			li
			li
			li
			li
			li
		.container
			.section__title
				span Прочитання цього макету зекономить Вам час, нерви і гроші
				h2  ВИМОГИ ДО МАКЕТІВ
			.row
				.col-md-7.text
					p Друк фалів MSOffice виконується на умовах “як є”, тобто відповідно з тим, що було на комп’ютері не гарантується. Бажаним до друку є файл в форматі  *PDF. Більшість сучасних програм має можливість зберегти\експортувати результат Вашої роботи в форматі PDF. Звернувши на це увагу, Ви збережете свій час, здоров’я і гроші.
					p До друку приймаються повністю готові файли. Для друку креслень і проектів, а також векторних форматів приймаємо файли в форматі *PDF.
					p Друкуємо тільки на матеріалах копіцентру: папір 80, 160 g/m2 (A4, A3), кольоровий папір 80, 160 g/m2 (A4, A3).
					p Відскановані матеріали надаються в будь-якому растровому форматі USB-Flash чи відправкою на електронну пошту замовника.
				.col-md-5
					.requrements__img-wrap.animatedImg
						.mask
						img.background-layer(src='img/img-requrements-back.png' alt='')
						span.text-layer copy center
						img.main-layer(src='img/img-requrements-girl.png' alt='')
	section#contact
		.container
			.section__title.section__title_white.section__title_pink-span
				span Ми завжди на зв’язку
				h2  напишіть нам
			.form-wrapper
				form#messageForm(method='POST'  onsubmit='return false')
					.row
						.col-md-6
							.input-row
								input.input.name(type='text', name='name', required='required', value='', placeholder='Ваше ім’я або Назва Організації*' maxlength='40')
							.input-row
								input.input.city(type='text', name='city', required='required', value='', placeholder='Ваше місто*' maxlength='40')
							.input-row
								input.input.phone(type='tel', name='phone', required  value='', placeholder='Номер телефону*')
							.input-row
								input.input.promo(type='text', name='promo'  value='', placeholder='Промо-код')
						.col-md-6
							.input-row
								textarea.message( name='message'  placeholder='Повідомлення*' maxlength='400')
							.input-row
								input.file(type='file', name='file')
					.butn-holder
						button.butn.butn_black(data-rel='messageForm' name='send-message', type='submit') Відправити повідомлення
