a.button_down, a.button_up, a.button_left, a.button_right{display:inline-block;height:4.5em;outline:none;position:relative;}
a.button_down{top:55px;left:15px;}
a.button_up{top:-55px;left:15px;}
a.button_left, a.button_right{top:0px;left:75px;}
.auto_size,.auto_text{width:100px;background-color:transparent;color:steelblue;text-shadow:azure 1px 1px 12px;outline:none;margin-left:15px;border-color: lightblue;}
.auto_size:hover,.auto_text:hover{position:relative;top:0px;color:#DC143C;font-size:large;border-radius:15px;background-color:buttonface;border-width:2px;border-style:outset;border-color:buttonface;}
.down-arrow{position:relative;top:55px;left:15px;outline:none;}
.arrow{display:inline-block;position:relative;background:lightblue;width:200px;text-align:center;color:slategrey;font-weight:normal;}
.arrow:after{content:'';display:block;position:absolute;}
.arrow:hover{color:azure;}
.down, .up{padding:5px 0;}
.down{top:10px;border-radius:10px 10px 5px 5px;cursor:n-resize;}
.up{top:-10px;border-radius:5px 5px 10px 10px;cursor:s-resize;}
.down:after, .up:after{left:2px;width:0;height:0;border-right:98px solid transparent;border-left:98px solid transparent;}
.down:after{top:100%;border-top:14px solid lightblue;border-bottom:0 solid transparent;}
.up:after{top:-13px;border-bottom:14px solid lightblue;border-top:0 solid transparent;}
.down:hover{background:cadetblue linear-gradient(lightblue, cadetblue 75%);}
.down:hover:after{border-top:18px solid cadetblue;}
.up:hover{background:lightblue linear-gradient(cadetblue, lightblue 100%);}
.up:hover:after{top:-17px;border-bottom:18px solid cadetblue;}
.right, .left{top:0;width:23px;height:200px;padding:0;border-radius:10px 5px 5px 10px;writing-mode:vertical-rl;-webkit-writing-mode:vertical-rl;}
.right:after, .left:after{top:5px;left:23px;border-left:17px solid lightblue;border-top:95px solid transparent;border-bottom:95px solid transparent;}
.right:hover, .left:hover{background:lightblue linear-gradient(to left, cadetblue, lightblue 90%);}
.right:hover:after, .left:hover:after{left:23px;border-left:18px solid cadetblue;}
.right{cursor:e-resize;}
.left{transform:rotate(-180deg);-webkit-transform:rotate(180deg);cursor:w-resize;}
button{padding:6px;color:#DC143C;font-size:large;border-radius:15px;float:left;width:150px;height:55px}
.disabled, .disabled:hover, .disabled:after, .disabled:hover:after{color:lightgrey;border:none;background-image:none;cursor:not-allowed;background:none;}
#erase{color:crimson;font-weight:bold;}
#text_link{padding-left:7px;position:relative;top:3px;}
#stamp_selector, #dater_selector{border:none;background-color:azure;font-size:18px;color:#777;font-weight:bold;}
.showcss{display:block;}
.hidecss{display:none;}
.to_text_off{float: right;position: relative;width: 90px;margin: auto;text-align: center;font: 500 14px Arial;color:#777;/*right:-10px;*/}