.fileUpload{
    padding-top:10px;
}
.fileName{
    width: 80%;
    margin: 10px auto;
    height: 20px;
    display: block;
    border: none;
float: right;
background:azure;
   
}
.fileBtn{
cursor: pointer;
width: 20%;
float: left;
padding-top: 12px;
}
.fileBtn:hover{
    color: crimson;
}
