body{width:840px;}
h2{line-height:110%;font-weight:500;}

a {text-decoration:none;}
div {padding:5px;margin:5px;}
img:hover {opacity: 0.9;filter: drop-shadow(3px 3px 5px lightslategray);}
canvas {   margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: run-in;
}
canvas:hover {opacity: 0.95; filter: drop-shadow(3px 3px 5px violet);}
/*
opacity: 0.65; 
*/

