body{
    padding: 0!important;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
  clear: both; }
*---=== header ===---*
header *{
    box-sizing: border-cbox;
    padding: 0;
    margin: 0;
}
header .col-xs-9 {
    width: 67%;
}
header div{
    padding: 0;
    margin: 0;
}
header {
  padding-top: 17px;
  /*position: absolute;*/
  left: 0;
  right: 0;
  z-index: 9;
margin-bottom: 15px;
}

.header__logo {
  float: left; }

.header__logo svg {
  height: 108px; }

#nav {
  padding-top: 33px;
  list-style: none;
  display: block;
  text-align: justify;
  line-height: 0;
  margin-bottom: 0;
  cursor: default; }

#nav:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block; }

#nav li {
  display: inline-block;
  text-align: left;
  line-height: normal; }

#nav li a {
  display: block;
  font-weight: 600;
  line-height: 1;
  /*color: #fff;*/
  color: #737373;;
  font-size: 14px;
  text-decoration: none;
  padding-bottom: 9px;
  position: relative;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out; }

#nav li a:before, #nav li a:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: #db3333;
  bottom: 0;
  right: 50%;
  left: 50%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

#nav li a:hover {
  color: #db3333;
  text-decoration: none;
  font-weight: 600; }

#nav li a:hover:before {
  left: 0; }

#nav li a:hover:after {
  right: 0; }

#hamburger {
  display: none;
  float: right;
  width: 36px;
  height: 18px;
  position: relative;
  margin: 26px 15px 14px 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #db3333;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#hamburger span:nth-child(1) {
  top: 0; }

#hamburger span:nth-child(2), #hamburger span:nth-child(3) {
  top: 9px; }

#hamburger span:nth-child(4) {
  top: 18px; }

#hamburger.open span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%; }

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

#hamburger.open span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%; }

/*---=== end header ===---*/
footer *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
footer div{
    padding: 0;
    margin: 0;
}
footer {
  background-color: #242424;
  padding: 25px 0; }

.footer__logo {
  display: block; }

.footer__logo svg {
  height: 84px; }

.footer__contacts {
  text-align: right; }

.footer__contacts a {
  line-height: 80px;
  display: inline-block; }

.footer__contacts a[href*=tel] {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  padding-left: 35px;
  position: relative; }

.footer__contacts a[href*=tel]:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 0;
  width: 22px;
  height: 22px;
  background: url("../../img/svg/phone.svg"); }

.footer__contacts a[href*=mailto] {
  color: #db3333;
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
  padding-left: 35px;
  position: relative; }

.footer__contacts a[href*=mailto]:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 0;
  width: 21px;
  height: 16px;
  background: url("../../img/svg/mail.svg"); }

.footer__contacts a + a {
  margin-left: 35px; }

.dev-logo {
  line-height: 80px;
  text-align: right; }

.dev-logo a {
  display: inline-block; }

.dev-logo img {
  max-height: 41px;
vertical-align: middle; }

  .row {
    margin-right: -15px;
    margin-left: -15px;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
  .col-sm-6{
      width: 50%;

  }
  .col-sm-3 {
    width: 25%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-9 {
    width: 75%;
}
.dev-logo img:hover{
    opacity: 1;
    filter: none;
}
