.farben_name{font-size:10px;color:teal;line-height:.9em;}
.slider_slick{width:100%
margin_top:25px;}
.slick-slide{margin:0px 8px 3px 5px;text-align:-webkit-center;text-align:center;}
.slick-slide img{width:100%;outline:none;}
.slick-prev:before,
.slick-next:before{color:crimson;}
.farben_img{width:25px !important;padding:5px 0 7px 0;margin:2px auto 2px auto;}
.pads_img{width:55px !important;padding:10px 0 1px 1px;margin:2px auto 2px auto;}
.stamp_img_old{transform-origin:center bottom;padding-bottom:25px;position:relative;top:-30px;width:250px;}
.stamp_img, .color_img{padding:0 5px 5px 0;border:0;width:150px !important;height:150px;position:relative;top:-5px;background-position-x:center;background-position-y:bottom;background-repeat-x:no-repeat;background-repeat-y:no-repeat;margin:25px 0 10px 0;background-size:contain;}
#all_farben, #all_pads{width:415px;left:-7px;}
.stamp_name{position:relative;top:-5px;color:#285470;font-variant:small-caps;font-weight:bold;}
.pads_img.active, .farben_img.active, .stamp_img.active, .color_img.active{border:2px solid lightgrey;border-radius:10px;position:relative;top:-1px;}
.pads_img.active, .farben_img.active{}
.stamp_img.active, .color_img.active{margin:19px -6px 12px -2px;left:-2px;}
.pads_img.active:hover, .farben_img.active:hover, .stamp_img.active:hover, .color_img.active:hover{outline:none;background-color:azure;}
.pads_img.active:hover, .farben_img.active:hover{margin-top:1px;}
.slick-slide img:hover{outline-offset:-1px;outline:1px dashed #958aea;}
.slick-slide.active img:hover{background:transparent url(../css/images/arrow-bottom.png) no-repeat center -30px;}
.price_cont{margin-top:8px;width:380px;padding:15px 0;border-bottom:1px solid #d4d4d4;font-family:Trebuchet MS;color:#6884b6;font-size:12pt;line-height:2px;text-align:left;}
#price,.price{font-family:Trebuchet MS;color:#6884b6}
.price_value,#price_sales span,#osnastka span,#price span,#farben span{font-weight:700;color:#c8324b;font-size:15pt;font-family:Trebuchet MS;text-align:right}.block-outer{margin:10px 0 0}
.smeta{text-align:right;position:relative;top:-1px}
.smeta_total{text-align:right;position:relative;top:-15px;color:crimson}
.smeta_price{width:77px;height:60x;font-family:Trebuchet MS;color:#c8324b;font-size:15pt;line-height:60px}
.smeta_text{width:160px;height:50x;margin-top:10px;font-family:Trebuchet MS;color:#6884b6;font-size:15pt;line-height:15px}
.price_total{width:36%;line-height:12px;font-family:Candara;font-weight:700;font-size:19.5pt;color:#285470;padding:20px 0}
.zuruck{top:70px;background:transparent url("./images/arrow-left.png") no-repeat left top;padding-left:40px;width:175px;}
.finish{background:transparent url("./images/arrow-right.png") no-repeat right top;top:180px;padding-right:40px;width:175px;}
