.tabs-style-tzoid{}
.tabs-style-tzoid nav{padding:0 1em;}
.tabs-style-tzoid nav ul li{-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.tabs-style-tzoid nav ul li a{padding:0 1.5em 0 0.3em;color:slategrey;-webkit-transition:color 0.2s;transition:color 0.2s;}
@media screen and (max-width:54em){.tabs-style-tzoid nav ul li a{padding:0 0.5em 0 0.3em;}
}
.tabs-style-tzoid nav ul li a:hover,
.tabs-style-tzoid nav ul li a:focus{color:darkgreen;}
.tabs-style-tzoid nav ul li.tab-current a,
.tabs-style-tzoid nav ul li.tab-current a:hover{font-weight:bold;}
.tabs-style-tzoid nav ul li a span{}
.tabs-style-tzoid nav ul li a::after{position:absolute;top:0;right:0;bottom:-3px;left:0;z-index:-1;outline:1px solid transparent;border-radius:10px 10px 0 0;background:#ddd;box-shadow:inset 0 -3px 3px rgba(0,0,0,0.05);content:'';-webkit-transform:perspective(5px) rotateX(0.93deg) translateZ(-1px);transform:perspective(5px) rotateX(0.93deg) translateZ(-1px);-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.tabs-style-tzoid nav ul li.tab-current a::after,
.tabs-style-tzoid .content-wrap{background:lightblue;box-shadow:none;}
.tabs-style-circlefill nav li.tab-current a{color:#fff;}
@media screen and (max-width:58em){
.tabs nav a.icon span{display:none;}
.tabs nav a:before{margin-right:0;}
}