section {
    padding: 80px 0;
}

/*---=== section#banner ===---*/
#banner {
    padding-top: 125px;
    padding-bottom: 70px;
    position: relative;
    background: url("../img/bg-banner.png") no-repeat center;
    background-size: cover;
    .container {
        padding-top: 134px;
    }
}

.banner__title {
    h1 {
        color: #fff;
        line-height: 1;
        font-size: 45px;
        font-weight: 400;
        margin-bottom: 34px;
        span:last-child {
            display: block;
            font-size: 90px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    ul {
        list-style: none;
        margin-bottom: 65px;
        li {
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: 30px;
            padding-left: 50px;
            position: relative;
            &:before {
                @include pseudo;
                left: 0;
                top: -4px;
                width: 34px;
                height: 34px;
                background: url("../img/svg/check.svg") no-repeat center;
            }
        }
    }
}

#typing {
    height: 45px;
}

.typed-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #fff;
    }
}

.banner__img {
    text-align: right;
    img {
        max-width: 100%;
    }
}

.scroll-down {
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 9px;
    height: 76px;
    background: url("../img/svg/scroll.svg") no-repeat center;
    background-size: cover;
    cursor: pointer;
    bottom: 70px;
    left: 0;
    right: 0;
}

.section__title {
    text-align: center;
    margin-bottom: 50px;
    span {
        display: block;
        color: #999;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
    }
    h2 {
        color: #242424;
        font-size: 45px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
    }
}

/*---=== section#about ===---*/
#about {
    position: relative;
    padding-bottom: 102px;
    .container {
        position: relative;
        z-index: 9;
    }
}

.divider {
    list-style: none;
    li {
        width: 1px;
        height: 100%;
        //opacity: .2;
        background-color: #f1f1f1;
        position: absolute;
        z-index: 0;
        top: 0;
        &:first-child {
            left: 12.5%;
        }
        &:nth-child(2) {
            left: 25%;
        }
        &:nth-child(3) {
            left: 37.5%;
        }
        &:nth-child(4) {
            left: 50%;
        }
        &:nth-child(5) {
            left: 62.5%;
        }
        &:nth-child(6) {
            left: 75%;
        }
        &:last-child {
            left: 87.5%;
        }
    }
}

.about__text {
    h3 {
        margin-bottom: 40px;
    }
    ul {
        list-style: none;
        margin-bottom: 46px;

        li {
            display: block;
            position: relative;
            padding-left: 47px;
            color: #666;
            line-height: 1.2;
            margin-bottom: 19px;
            cursor: default;
            &:before {
                @include pseudo;
                left: 0;
                top: 5px;
                width: 20px;
                height: 9px;
                background: url("../img/svg/arrow-red.svg") no-repeat;
                background-size: cover;
            }
            &:hover {
                &:before {
                    -webkit-animation: leftRight .5s infinite; /* Safari 4.0 - 8.0 */
                    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
                    animation: leftRight .5s infinite;
                    animation-direction: alternate;
                }
            }
        }
    }
}

@-moz-keyframes leftRight {
    from {
        left: 15px;
    }
    to {
        left: 0;
    }
}

@-webkit-keyframes leftRight {
    from {
        left: 15px;
    }
    to {
        left: 0;
    }
}

@keyframes leftRight {
    from {
        left: 15px;
    }
    to {
        left: 0;
    }
}

.flying-text {
    color: #f4f4f4;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    transform: rotate(-90deg);
    position: absolute;
    margin-top: 223px;
    opacity: 0;
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
    -webkit-transition: opacity 0s linear 0.6s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
    transition: opacity .3s linear 0.6s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
    transition: opacity .3s linear 0.6s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
    transition: opacity .3s linear 0.6s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
    right: -175px;
    -webkit-animation: topBottom 2s infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation: topBottom 2s infinite;
    animation-direction: alternate;
    span {
        display: block;
        transform: rotate(-90deg);
    }
}

@-moz-keyframes topBottom {
    from {
        top: 30px;
    }
    to {
        top: -30px;
    }
}

@-webkit-keyframes topBottom {
    from {
        top: 30px;
    }
    to {
        top: -30px;
    }
}

@keyframes topBottom {
    from {
        top: 30px;
    }
    to {
        top: -30px;
    }
}

.animatedImg {
    position: relative;
    img {
        position: absolute;
        display: block;
        opacity: 0;
        -webkit-transform: translate3d(-50px, 0, 0);
        transform: translate3d(-50px, 0, 0);
        -webkit-transition: opacity 0s linear 0.6s, -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
        transition: opacity .3s linear 0.6s, -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
        transition: opacity .3s linear 0.6s, transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
        transition: opacity .3s linear 0.6s, transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
    }
    .img1 {
        right: 0;
        top: 0;
        transition-delay: .8s;
    }
    .img2 {
        top: -38px;
        right: 82px;
        transition-delay: 1.2s;
    }
    .img3 {
        right: 241px;
        top: 40px;
        transition-delay: 1.6s;
    }
}

.mask {
    webkit-transition: bottom 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, right 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s, margin 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s, left 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
    transition: bottom 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, right 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s, margin 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s, left 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
    margin: 0 -10px 0 0;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 100%;
    left: 0;
    background: $red;
    z-index: 3;
}

.img-animation {
    img {
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
        opacity: 1 !important;
    }
    .flying-text {
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
        opacity: 1 !important;
    }
    .mask {
        margin-right: 0;
        right: 0;
        bottom: 0;
        left: 100%;
    }
}

/*---=== section#prices ===---*/
#prices {
    background-color: #f1f1f1;
    counter-reset: price;
}

.price {
    margin-bottom: 60px;
    position: relative;
    //z-index: 1;
    visibility: initial !important;
    z-index: initial !important;
}

.price__title {
    padding: 6px 0 6px 98px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    &:before {
        counter-increment: price;
        content: counter(price, decimal-leading-zero) ".";
        display: block;
        position: absolute;
        left: 0;
        top: -5px;
        color: $red;
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
    }
    &:after {
        @include pseudo;
        width: 80px;
        height: 1px;
        background-color: #242424;
        top: 17px;
        transition: all 1s ease-in-out;
        transition-delay: .9s;
    }
}

.from-left {
    .price__title {
        &:after {
            left: -80px;
        }
    }
}

.from-right {
    .price__title {
        &:after {
            right: -80px;
        }
    }
}

.from-left.animated {
    .price__title {
        &:after {
            left: 0;
        }
    }
}

.from-right.animated {
    .price__title {
        &:after {
            right: 0;
        }
    }
}

.price__title_right {
    padding-left: 0;
    padding-right: 98px;
    &:before {
        left: initial;
        right: 0;
    }
    &:after {
        left: initial;
        right: 0;
    }
}

.price__text {
    margin-bottom: 16px;
}

.price__details {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 22px);
    width: 555px;
    box-shadow: 0 3px 35px rgba(0, 1, 1, 0.1);
    background-color: rgba(255, 255, 255, 0.99);
    padding: 10px 30px 30px;
    z-index: 999;
    table {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        color: #242424;
        tr {
            &:first-child {
                color: #666;
            }
        }
    }
    td {
        height: 60px;
        border-bottom: 1px dashed #cccccc;
        width: 33.33333333333%;
    }
}

.price__details-hint {
    max-width: 376px;
    margin: 0 auto;
    color: #666;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 28px;
    text-align: center;
    &:before {
        content: '';
        display: inline-block;
        width: 17px;
        height: 17px;
        background: url("../img/icon-star.png");
        margin-right: 20px;
    }
}

.price__link {
    list-style: none;
    height: 17px;
    overflow: hidden;
    li {
        display: block;
        position: relative;
        top: 0;
        transition: all .4s ease-in-out;
        a {
            display: inline-block;
            padding-right: 30px;
            color: $red;
            font-size: 14px;
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;
            position: relative;
            text-decoration: underline;
            &:before {
                @include pseudo;
                right: 0;
                top: 2px;
                width: 20px;
                height: 9px;
                background: url("../img/svg/arrow-red.svg") no-repeat;
                background-size: cover;
            }
            &:hover {
                color: $red;
                &:before {
                    -webkit-animation: right-leftRight .5s infinite; /* Safari 4.0 - 8.0 */
                    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
                    animation: right-leftRight .5s infinite;
                    animation-direction: alternate;
                }
            }
        }
    }
}

@-moz-keyframes right-leftRight {
    from {
        right: 0;
    }
    to {
        right: 10px;
    }
}

@-webkit-keyframes right-leftRight {
    from {
        right: 0;
    }
    to {
        right: 10px;
    }
}

@keyframes right-leftRight {
    from {
        right: 0;
    }
    to {
        right: 10px;
    }
}

.price_right {
    text-align: right;
    .price__details {
        left: initial;
        right: 0;
    }
}

.img-price-wrapper {
    top: 46px;
    left: -30px;
    width: 451px;
    height: 451px;
    position: relative;
    background: url("../img/bg-price-img.png") no-repeat center;
    background-size: cover;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        &:first-child {
            //width: 371px;
            //height: 276px;
            margin-left: 16px;
            margin-top: 34px;
            -webkit-animation-name: layer1; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
            animation-name: layer1;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }
        &:nth-child(2) {
            //width: 355px;
            //height: 229px;
            left: 4%;
            margin-top: -94px;
        }
        &:nth-child(3) {
            //width: 398px;
            //height: 370px;
            margin-left: 22px;
            margin-top: 25px;
            -webkit-animation-name: layer1; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
            animation-name: layer1;
            animation-duration: 8s;
            animation-iteration-count: infinite;
        }
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes layer1 {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 15px;
        top: 0px;
    }
    50% {
        left: 15px;
        top: 15px;
    }
    75% {
        left: 0px;
        top: 15px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

/* Standard syntax */
@keyframes layer1 {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 10px;
        top: 0px;
    }
    50% {
        left: 10px;
        top: 10px;
    }
    75% {
        left: 0px;
        top: 10px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes layer3 {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 0px;
        top: -15px;
    }
    50% {
        left: 15px;
        top: -15px;
    }
    75% {
        left: 15px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

/* Standard syntax */
@keyframes layer3 {
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: 0px;
        top: -15px;
    }
    50% {
        left: 15px;
        top: -15px;
    }
    75% {
        left: 15px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

/* ---=== section#delivery ===---*/
#delivery {
    background: url('../img/bg-delivery.png') no-repeat center;
    background-size: cover;
}

.section__title_white {
    h2 {
        color: #fff;
    }
    span {
        //color: #fff;
    }
}

.delivery__icon {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.delivery__icon_tag {
    width: 12px;
    height: 16px;
    background: url('../img/svg/tag.svg');
}

.delivery__icon_user {
    width: 16px;
    height: 16px;
    background: url('../img/svg/user.svg');
}

.delivery__icon_bus {
    width: 16px;
    height: 16px;
    background: url('../img/svg/bus.svg');
}

.tab-navigate {
    list-style: none;
    display: block;
    text-align: center;
    font-size: 0;
    margin-bottom: 49px;
    li {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        a {
            color: #ffffff;
            text-decoration: none;
            display: block;
            min-width: 175px;
            padding: 0 20px;
            border: {
                top: 1px solid #4f5053;
                bottom: 1px solid #4f5053;
                left: 1px solid #4f5053;
            }
            background-color: rgba(219, 51, 51, 0);
            &:hover {
                text-decoration: none;
                color: $red;
                .delivery__icon_tag {
                    background: url('../img/svg/tag-hover.svg');
                }
                .delivery__icon_user {
                    background: url('../img/svg/user-hover.svg');
                }
                .delivery__icon_bus {
                    background: url('../img/svg/bus-hover.svg');
                }
            }
        }
        &:first-child {
            a {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }
        &:last-child {
            a {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                border-right: 1px solid #4f5053;
            }
        }
        &.active {
            a {
                background: $red;
                border-color: $red;
                &:hover {
                    color: #fff;
                    .delivery__icon_tag {
                        background: url('../img/svg/tag.svg');
                    }
                    .delivery__icon_user {
                        background: url('../img/svg/user.svg');
                    }
                    .delivery__icon_bus {
                        background: url('../img/svg/bus.svg');
                    }
                }
            }
        }
    }
}

.delivery__description {
    p {
        font-size: 14px;
        line-height: 1.5;
        color: #999;
        font-weight: 400;
        text-align: center;
        span {
            color: #fff;
            font-weight: 700;
            display: inline-block;
            margin-right: 5px;
        }
    }
}

/*---=== #requrements ===--- */
#requrements {
    position: relative;
    overflow: hidden;
    .container {
        position: relative;
        z-index: 2;
    }
}

.text {
    p {
        color: #666;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7;
        margin-bottom: 30px;
    }
}

.requrements__img-wrap {
    position: relative;
    span {
        position: absolute;
        display: block;
        text-align: center;
        text-shadow: 0 3px 25px rgba(0, 1, 1, 0.1);
        color: #ffffff;
        font-size: 120px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        z-index: 5;
    }
    .background-layer {
        position: absolute;
        z-index: 1;
        -webkit-animation-name: layer1; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
        animation-name: layer1;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    .main-layer {
        position: relative;
        z-index: 10;
    }
    .text-layer {
        opacity: 0;
        -webkit-animation-name: layer1; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
        animation-name: layer1;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }
}

.animatedImg.img-animation {
    .text-layer {
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
        opacity: 1 !important;
    }
}

/*---=== section#contact ===---*/
#contact {
    background: url("../img/bg-contact.png") no-repeat center;
    background-size: cover;
}
.section__title_pink-span{
    span{
        color: #ffcccc;
    }
}
.form-wrapper {
    .butn-holder {
        padding-top: 20px;
        text-align: center;
    }
}

.input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px #fff solid;
    padding: 0 20px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
}

.input-row {
    margin-bottom: 15px;
}

.message {
    width: 100%;
    max-width: 100%;
    height: 180px;
    max-height: 180px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px #fff solid;
    padding: 20px;
    color: #666;
    font-size: 14px;
    font-weight: 400;

}

.jq-file.file {
    display: block;
    position: relative;
    top: -5px;
}

.jq-file__name {
    float: left;
    width: calc(100% - 175px);
    height: 50px;
    line-height: 50px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px #fff solid;
    padding: 0 20px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
}
.jq-file__browse {
    display: inline-block;
    margin-left: 10px;
    width: 165px;
    height: 50px;
    line-height: 50px;
    border-radius: 3px;
    background-color: #e63f3f;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.input, .message {
    &:hover, &:focus {
        background: rgba(#fff, .6);
        border-color: rgba(#fff, .6);
        color: #fff;
    }
}
.file {
    &:hover {
        .jq-file__name {
            background: rgba(#fff, .6);
            border-color: rgba(#fff, .6);
        }
    }
}
