footer {
    background-color: #242424;
    padding: 25px 0;
}

.footer__logo {
    display: block;

    svg {
        height: 84px;
    }
}

.footer__contacts {
    text-align: right;

    a {
        line-height: 80px;
        display: inline-block;
    }

    a[href*=tel] {
        color: #fff;
        font-size: 22px;
        font-weight: 300;
        padding-left: 35px;
        position: relative;

        &:before {
            @include pseudo;
            top: 50%;
            margin-top: -11px;
            left: 0;
            width: 22px;
            height: 22px;
            background: url("../img/svg/phone.svg");
        }
    }

    a[href*=mailto] {
        color: #db3333;
        font-size: 16px;
        font-weight: 300;
        text-decoration: underline;
        padding-left: 35px;
        position: relative;

        &:before {
            @include pseudo;
            top: 50%;
            margin-top: -8px;
            left: 0;
            width: 21px;
            height: 16px;
            background: url("../img/svg/mail.svg");
        }
    }

    a+a {
        margin-left: 90px;
    }
}

.dev-logo {
    line-height: 80px;
    text-align: right;

    a {
        display: inline-block;
    }

    img {
        max-height: 41px;
    }
}

.form__title {
    text-align: center;

    span {
        color: #999;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        display: block;
        margin-bottom: 20px;
    }

    h3 {
        color: #242424;
        font-size: 35px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
}

.modal-dialog {
    padding-right: 20px;
}

.modal-content {
    border-radius: 0;
    max-width: 380px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.close-x {
    top: -20px;
    right: -20px;
    position: absolute;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:after,
    &:before {
        content: '';
        position: absolute;
        height: 2px;
        width: 22px;
        top: 7px;
        left: -3px;
        background: #fff;
    }

    &:hover {
        &:after,
        &:before {
            background: $red;
        }
    }

    &:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:after {
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}

.form-wrapper_modal {
    padding: 35px 30px;

    .input {
        border-radius: 3px;
        border: 1px solid #cccccc;
        background-color: rgba(255, 255, 255, 0);

        &:focus,
        &:hover {
            color: #666666;
            border-color: $red;
        }
    }
}

.img-send {
    text-align: center;
}

#thanks {
    .form-wrapper {
        padding-left: 15px;
        padding-right: 15px;

        h3 {
            letter-spacing: -1px;
        }
    }
}
