/*---=== header ===---*/
header {
    padding-top: 17px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
}
.header__logo {
    float: left;
    svg {
        height: 108px;
    }
}
#nav {
    padding-top: 52px;
    list-style: none;
    display: block;
    text-align: justify;
    line-height: 0;
    margin-bottom: 0;
    cursor: default;
    &:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: "";
        display: inline-block;
    }
    li {
        display: inline-block;
        text-align: left;
        line-height: normal;
        a {
            display: block;
            font-weight: 600;
            line-height: 1;
            color: #fff;
            font-size: 14px;
            text-decoration: none;
            padding-bottom: 9px;
            position: relative;
            transition: color .3s ease-in-out;
            &:before, &:after {
                @include pseudo;
                height: 2px;
                background-color: #db3333;
                bottom: 0;
                right: 50%;
                left: 50%;
                transition: all .3s ease-in-out;
            }
            &:hover {
                color: #db3333;
                text-decoration: none;
                font-weight: 600;
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
            }
        }
    }
}

 #hamburger {
 	display: none;
 	float: right;
 	width: 36px;
 	height: 18px;
 	position: relative;

 	margin: 26px 15px 14px 0;
 	-webkit-transform: rotate(0deg);
 	-moz-transform: rotate(0deg);
 	-o-transform: rotate(0deg);
 	transform: rotate(0deg);
 	-webkit-transition: .5s ease-in-out;
 	-moz-transition: .5s ease-in-out;
 	-o-transition: .5s ease-in-out;
 	transition: .5s ease-in-out;
 	cursor: pointer;
 	span {
 		display: block;
 		position: absolute;
 		height: 4px;
 		width: 100%;
 		background: $red;
 		border-radius: 3px;
 		opacity: 1;
 		left: 0;
 		-webkit-transform: rotate(0deg);
 		-moz-transform: rotate(0deg);
 		-o-transform: rotate(0deg);
 		transform: rotate(0deg);
 		-webkit-transition: .25s ease-in-out;
 		-moz-transition: .25s ease-in-out;
 		-o-transition: .25s ease-in-out;
 		transition: .25s ease-in-out;
 	}
 }
 #hamburger span:nth-child(1) {
 	top: 0;
 }
 #hamburger span:nth-child(2),#hamburger span:nth-child(3) {
 	top: 9px;
 }
 #hamburger span:nth-child(4) {
 	top: 18px;
 }
 #hamburger.open span:nth-child(1) {
 	top: 9px;
 	width: 0;
 	left: 50%;
 }
 #hamburger.open span:nth-child(2) {
 	-webkit-transform: rotate(45deg);
 	-moz-transform: rotate(45deg);
 	-o-transform: rotate(45deg);
 	transform: rotate(45deg);
 }
 #hamburger.open span:nth-child(3) {
 	-webkit-transform: rotate(-45deg);
 	-moz-transform: rotate(-45deg);
 	-o-transform: rotate(-45deg);
 	transform: rotate(-45deg);
 }
 #hamburger.open span:nth-child(4) {
 	top: 9px;
 	width: 0;
 	left: 50%;
 }
/*---=== end header ===---*/
