/*I  C  O  N  S start*/ 
.icon-sm{
	position: absolute;
	top: 0;
	left: 10px;
	width: 40px;
	height: 40px;
	background: url(../img/icons-sprite.png);
}
.icon-sm-map-tag{
	background-position: 7px 7px;
}
.icon-sm-calendar{
	background-position: -90px 7px;
}

/*I  C  O  N  S end*/ 