/*MEDIA QUERY*/
@media (max-width: 1299px) {
    .img-price-wrapper{
        max-width: 100%;
        background-size: contain;
        img{
            max-width: 100%;
        }
    }
}


@media (max-width: 1200px) {
    #about .img-animation img{
        max-width: 70%;
    }
    .animatedImg .img3 {
        right: 155px;
    }

}

@media (max-width: 1130px) {
    .requrements__img-wrap span{
        font-size: 98px;
    }
}
@media (max-width: 1023px) {
    .divider{
        display: none;
    }


}

@media (max-width: 991px) {
    .banner__title h1 span:last-child{
        font-size: 60px;
        margin-top: 25px;
    }
    .hidden-on-991{
        display: none;
    }
    .requrements__img-wrap .main-layer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .footer__contacts{
        text-align: center;
        a+a{
            margin-left: 0;
        }
    }
}
@media (min-width: 768px) {
    #nav {
        display: block!important;
    }
}
@media (max-width: 767px) {
    header{
        .col-xs-9{
            position: static;
        }
        .container{
            position: relative;
        }
    }
    .header__logo svg {
        height: 80px;
    }
    #nav{
        display: none;
        background: $red;
        position: absolute;
        //padding-top: 30px;
        top: calc(100% + 10px);
        left: 0;
        right: 0;
        bottom: -80vh;;
        z-index: 999;
        margin-right: 0;
        li{
            display: block;
            margin-bottom: 15px;
            a{
                text-align: center;
                font-size: 20px;
            }
        }
    }
    #hamburger {
        display: block;
    }
    .banner__img{
        display: none;
    }
    #banner{
        padding-bottom: 100px;
        .container{
            padding-top: 0;
            text-align: center;
        }
    }
    .banner__title{
        display: inline-block;
        ul li{
            text-align: left;
        }
        .butn.scrollTo{
            display: none;
        }
    }
    .scroll-down{
        bottom: 6px;
    }
    #about .animatedImg{

            display: none;
    }
    .price_right{
        text-align:left;
    }
    .price__title_right {
        padding-left: 98px;
        padding-right: initial;
    }
    .price__title_right:before {
    left: 0;
    right: initial;
}
    .price__details{
        right: 0;
        width: auto;
    }
    .price_right .price__details{
        left: 0;
    }
    footer, .dev-logo{
        text-align: center;
    }
    .footer__contacts{
        a+a{
            margin-left: 30px;
        }
    }
    .price__title_right:after{
        right: initial;
        left: 0;
    }
    .from-left .price__title:after{
            left: 0;
    }
}

@media (max-width: 589px) {
    .tab-navigate li{
        display: block;
        margin-bottom: 5px;
        a{
            border:1px solid #4f5053;
            border-radius: 3px;
        }
    }
}
@media (max-width: 423px) {
    .banner__title h1 span:last-child{
        font-size: 35px;
    }
    .banner__title h1{
        font-size: 22px;
    }
    .section__title h2{
        font-size: 30px;
    }
    .requrements__img-wrap span{
        font-size: 68px;
    }
    .requrements__img-wrap{
        img{
            max-width: 100%;
        }
    }
    .footer__contacts{
        max-width: 265px;
        margin-left: auto;
        margin-right: auto;
        a+a{
            margin-left: 0;
        }
        a{
            line-height: 40px;
        }
    }
    .price__details{
        padding-left: 15px;
        padding-right: 15px;
    }
    .price__title{
        padding-left: 70px;
        &:after{
            width: 60px;
        }
    }
    .form-wrapper_modal {
    padding: 25px 15px;
}
}
