@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic,cyrillic-ext');
//font-family: 'Open Sans', sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    &:active, &:focus {
        outline: none !important;
    }
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.clearfix:before, .clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}

$red: #db3333;

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

h1, h2, h3, h4, h5, h6, ol, ul {
    margin: 0;
    padding: 0;
}



.row-eq-height {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*---=== buttons ===---*/
.butn {
    display: inline-block;
    padding: 0 20px;
    min-width: 210px;
    height: 50px;
    line-height: 50px;
    border-radius: 3px;
    background-color: $red;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border:none;
    &:hover {
        color: #fff;
        text-decoration: none;
        box-shadow: none;
        -webkit-animation: button-pulse 0.5s 0s ease-out .8;
        -moz-animation: button-pulse 0.5s 0s ease-out .8;
        animation: button-pulse 0.5s 0s ease-out .8;
    }
    &:focus{
        text-decoration: none;
        color: #fff;
    }
}
/* Button shadow */
@-webkit-keyframes button-pulse {
    from {
        box-shadow: 0 0 8px 6px rgba($red, 1), 0 0 12px 14px rgba($red, 1);
    }
    to {
        box-shadow: 0 0 18px 6px rgba($red, 0), 0 0 4px 71px rgba($red, 0);
    }
}
@-moz-keyframes button-pulse {
    from {
        box-shadow: 0 0 8px 6px rgba($red, 1), 0 0 12px 14px rgba($red, 1);
    }
    to {
        box-shadow: 0 0 18px 6px rgba($red, 0), 0 0 4px 71px rgba($red, 0);
    }
}
@keyframes button-pulse {
    from {
        box-shadow: 0 0 8px 6px rgba($red, 1), 0 0 12px 14px rgba($red, 1);
    }
    to {
        box-shadow: 0 0 18px 6px rgba($red, 0), 0 0 4px 71px rgba($red, 0);
    }
}
/*--- --- --- */

@-webkit-keyframes button-pulse-black {
    from {
        box-shadow: 0 0 8px 6px rgba(#000, 1), 0 0 12px 14px rgba(#000, 1);
    }
    to {
        box-shadow: 0 0 18px 6px rgba(#000, 0), 0 0 4px 71px rgba(#000, 0);
    }
}
@-moz-keyframes button-pulse-black {
    from {
        box-shadow: 0 0 8px 6px rgba(#000, 1), 0 0 12px 14px rgba(#000, 1);
    }
    to {
        box-shadow: 0 0 18px 6px rgba(#000, 0), 0 0 4px 71px rgba(#000, 0);
    }
}
@keyframes button-pulse-black {
    from {
        box-shadow: 0 0 8px 6px rgba(#000, 1), 0 0 12px 14px rgba(#000, 1);
    }
    to {
        box-shadow: 0 0 18px 6px rgba(#000, 0), 0 0 4px 71px rgba(#000, 0);
    }
}
.butn_black{
    background-color: #000000;
    border-color: #000000;
    position: relative;
    z-index: 999;
    &:hover {
        box-shadow: none;
        -webkit-animation: button-pulse-black 0.5s 0s ease-out .8;
        -moz-animation: button-pulse-black 0.5s 0s ease-out .8;
        animation: button-pulse-black 0.5s 0s ease-out .8;
    }
}

h3{
    color: #242424;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

/*---=== end buttons ===---*/
.a-hidden{
    opacity:0;
}
.a-visible{
    opacity:1;
}
@import 'header';
@import 'content';
@import 'footer';
@import 'media';
