@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic,cyrillic-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none !important; }

html {
  height: 100%; }

body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400; }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
  clear: both; }

h1, h2, h3, h4, h5, h6, ol, ul {
  margin: 0;
  padding: 0; }

.row-eq-height {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/*---=== buttons ===---*/
.butn {
  display: inline-block;
  padding: 0 20px;
  min-width: 210px;
  height: 50px;
  line-height: 50px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #db3333;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none; }

.butn:hover {
  color: #fff;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-animation: button-pulse 0.5s 0s ease-out .8;
  animation: button-pulse 0.5s 0s ease-out .8; }

.butn:focus {
  text-decoration: none;
  color: #fff; }

/* Button shadow */
@-webkit-keyframes button-pulse {
  from {
    -webkit-box-shadow: 0 0 8px 6px #db3333, 0 0 12px 14px #db3333;
            box-shadow: 0 0 8px 6px #db3333, 0 0 12px 14px #db3333; }
  to {
    -webkit-box-shadow: 0 0 18px 6px rgba(219, 51, 51, 0), 0 0 4px 71px rgba(219, 51, 51, 0);
            box-shadow: 0 0 18px 6px rgba(219, 51, 51, 0), 0 0 4px 71px rgba(219, 51, 51, 0); } }

@keyframes button-pulse {
  from {
    -webkit-box-shadow: 0 0 8px 6px #db3333, 0 0 12px 14px #db3333;
            box-shadow: 0 0 8px 6px #db3333, 0 0 12px 14px #db3333; }
  to {
    -webkit-box-shadow: 0 0 18px 6px rgba(219, 51, 51, 0), 0 0 4px 71px rgba(219, 51, 51, 0);
            box-shadow: 0 0 18px 6px rgba(219, 51, 51, 0), 0 0 4px 71px rgba(219, 51, 51, 0); } }

/*--- --- --- */
@-webkit-keyframes button-pulse-black {
  from {
    -webkit-box-shadow: 0 0 8px 6px black, 0 0 12px 14px black;
            box-shadow: 0 0 8px 6px black, 0 0 12px 14px black; }
  to {
    -webkit-box-shadow: 0 0 18px 6px transparent, 0 0 4px 71px transparent;
            box-shadow: 0 0 18px 6px transparent, 0 0 4px 71px transparent; } }

@keyframes button-pulse-black {
  from {
    -webkit-box-shadow: 0 0 8px 6px black, 0 0 12px 14px black;
            box-shadow: 0 0 8px 6px black, 0 0 12px 14px black; }
  to {
    -webkit-box-shadow: 0 0 18px 6px transparent, 0 0 4px 71px transparent;
            box-shadow: 0 0 18px 6px transparent, 0 0 4px 71px transparent; } }

.butn_black {
  background-color: #000000;
  border-color: #000000;
  position: relative;
  z-index: 999; }

.butn_black:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-animation: button-pulse-black 0.5s 0s ease-out .8;
  animation: button-pulse-black 0.5s 0s ease-out .8; }

h3 {
  color: #242424;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2; }

/*---=== end buttons ===---*/
.a-hidden {
  opacity: 0; }

.a-visible {
  opacity: 1; }

/*---=== header ===---*/
header {
  padding-top: 17px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9; }

.header__logo {
  float: left; }

.header__logo svg {
  height: 108px; }

#nav {
  padding-top: 52px;
  list-style: none;
  display: block;
  text-align: justify;
  line-height: 0;
  margin-bottom: 0;
  cursor: default; }

#nav:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block; }

#nav li {
  display: inline-block;
  text-align: left;
  line-height: normal; }

#nav li a {
  display: block;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  padding-bottom: 9px;
  position: relative;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out; }

#nav li a:before, #nav li a:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: #db3333;
  bottom: 0;
  right: 50%;
  left: 50%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

#nav li a:hover {
  color: #db3333;
  text-decoration: none;
  font-weight: 600; }

#nav li a:hover:before {
  left: 0; }

#nav li a:hover:after {
  right: 0; }

#hamburger {
  display: none;
  float: right;
  width: 36px;
  height: 18px;
  position: relative;
  margin: 26px 15px 14px 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #db3333;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#hamburger span:nth-child(1) {
  top: 0; }

#hamburger span:nth-child(2), #hamburger span:nth-child(3) {
  top: 9px; }

#hamburger span:nth-child(4) {
  top: 18px; }

#hamburger.open span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%; }

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

#hamburger.open span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%; }

/*---=== end header ===---*/
section {
  padding: 80px 0; }

/*---=== section#banner ===---*/
#banner {
  padding-top: 125px;
  padding-bottom: 70px;
  position: relative;
  background: url("../img/bg-banner.png") no-repeat center;
  background-size: cover; }

#banner .container {
  padding-top: 134px; }

.banner__title h1 {
  color: #fff;
  line-height: 1;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 34px; }

.banner__title h1 span:last-child {
  display: block;
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase; }

.banner__title ul {
  list-style: none;
  margin-bottom: 65px; }

.banner__title ul li {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 30px;
  padding-left: 50px;
  position: relative; }

.banner__title ul li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -4px;
  width: 34px;
  height: 34px;
  background: url("../img/svg/check.svg") no-repeat center; }

#typing {
  height: 45px; }

.typed-cursor {
  -webkit-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite; }

@-webkit-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #fff; } }

@keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #fff; } }

.banner__img {
  text-align: right; }

.banner__img img {
  max-width: 100%; }

.scroll-down {
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 9px;
  height: 76px;
  background: url("../img/svg/scroll.svg") no-repeat center;
  background-size: cover;
  cursor: pointer;
  bottom: 70px;
  left: 0;
  right: 0; }

.section__title {
  text-align: center;
  margin-bottom: 50px; }

.section__title span {
  display: block;
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3; }

.section__title h2 {
  color: #242424;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase; }

/*---=== section#about ===---*/
#about {
  position: relative;
  padding-bottom: 102px; }

#about .container {
  position: relative;
  z-index: 9; }

.divider {
  list-style: none; }

.divider li {
  width: 1px;
  height: 100%;
  background-color: #f1f1f1;
  position: absolute;
  z-index: 0;
  top: 0; }

.divider li:first-child {
  left: 12.5%; }

.divider li:nth-child(2) {
  left: 25%; }

.divider li:nth-child(3) {
  left: 37.5%; }

.divider li:nth-child(4) {
  left: 50%; }

.divider li:nth-child(5) {
  left: 62.5%; }

.divider li:nth-child(6) {
  left: 75%; }

.divider li:last-child {
  left: 87.5%; }

.about__text h3 {
  margin-bottom: 40px; }

.about__text ul {
  list-style: none;
  margin-bottom: 46px; }

.about__text ul li {
  display: block;
  position: relative;
  padding-left: 47px;
  color: #666;
  line-height: 1.2;
  margin-bottom: 19px;
  cursor: default; }

.about__text ul li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 20px;
  height: 9px;
  background: url("../img/svg/arrow-red.svg") no-repeat;
  background-size: cover; }

.about__text ul li:hover:before {
  -webkit-animation: leftRight .5s infinite;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate;
  /* Safari 4.0 - 8.0 */
  animation: leftRight .5s infinite;
  animation-direction: alternate; }

@-webkit-keyframes leftRight {
  from {
    left: 15px; }
  to {
    left: 0; } }

@keyframes leftRight {
  from {
    left: 15px; }
  to {
    left: 0; } }

.flying-text {
  color: #f4f4f4;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  margin-top: 223px;
  opacity: 0;
  -webkit-transform: translate3d(-50px, 0, 0);
  transform: translate3d(-50px, 0, 0);
  -webkit-transition: opacity 0s linear 0.6s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  transition: opacity 0.3s linear 0.6s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  -webkit-transition: opacity 0.3s linear 0.6s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  transition: opacity 0.3s linear 0.6s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  transition: opacity 0.3s linear 0.6s, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  right: -175px;
  -webkit-animation: topBottom 2s infinite;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate;
  /* Safari 4.0 - 8.0 */
  animation: topBottom 2s infinite;
  animation-direction: alternate; }

.flying-text span {
  display: block;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

@-webkit-keyframes topBottom {
  from {
    top: 30px; }
  to {
    top: -30px; } }

@keyframes topBottom {
  from {
    top: 30px; }
  to {
    top: -30px; } }

.animatedImg {
  position: relative; }

.animatedImg img {
  position: absolute;
  display: block;
  opacity: 0;
  -webkit-transform: translate3d(-50px, 0, 0);
  transform: translate3d(-50px, 0, 0);
  -webkit-transition: opacity 0s linear 0.6s, -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  transition: opacity 0.3s linear 0.6s, -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  -webkit-transition: opacity 0.3s linear 0.6s, -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  transition: opacity 0.3s linear 0.6s, transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  transition: opacity 0.3s linear 0.6s, transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s, -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  transition: opacity 0.3s linear 0.6s, transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s, -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s; }

.animatedImg .img1 {
  right: 0;
  top: 0;
  -webkit-transition-delay: .8s;
          transition-delay: .8s; }

.animatedImg .img2 {
  top: -38px;
  right: 82px;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s; }

.animatedImg .img3 {
  right: 241px;
  top: 40px;
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s; }

.mask {
  webkit-transition: bottom 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, right 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s, margin 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s, left 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
  -webkit-transition: bottom 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, right 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s, margin 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s, left 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
  transition: bottom 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, right 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s, margin 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s, left 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
  margin: 0 -10px 0 0;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 100%;
  left: 0;
  background: #db3333;
  z-index: 3; }

.img-animation img {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important; }

.img-animation .flying-text {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important; }

.img-animation .mask {
  margin-right: 0;
  right: 0;
  bottom: 0;
  left: 100%; }

/*---=== section#prices ===---*/
#prices {
  background-color: #f1f1f1;
  counter-reset: price; }

.price {
  margin-bottom: 60px;
  position: relative;
  visibility: initial !important;
  z-index: initial !important; }

.price__title {
  padding: 6px 0 6px 98px;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden; }

.price__title:before {
  counter-increment: price;
  content: counter(price, decimal-leading-zero) ".";
  display: block;
  position: absolute;
  left: 0;
  top: -5px;
  color: #db3333;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase; }

.price__title:after {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #242424;
  top: 17px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-delay: .9s;
          transition-delay: .9s; }

.from-left .price__title:after {
  left: -80px; }

.from-right .price__title:after {
  right: -80px; }

.from-left.animated .price__title:after {
  left: 0; }

.from-right.animated .price__title:after {
  right: 0; }

.price__title_right {
  padding-left: 0;
  padding-right: 98px; }

.price__title_right:before {
  left: initial;
  right: 0; }

.price__title_right:after {
  left: initial;
  right: 0; }

.price__text {
  margin-bottom: 16px; }

.price__details {
  display: none;
  position: absolute;
  left: 0;
  top: -webkit-calc(100% + 22px);
  top: calc(100% + 22px);
  width: 555px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 1, 1, 0.1);
          box-shadow: 0 3px 35px rgba(0, 1, 1, 0.1);
  background-color: rgba(255, 255, 255, 0.99);
  padding: 10px 30px 30px;
  z-index: 999; }

.price__details table {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #242424; }

.price__details table tr:first-child {
  color: #666; }

.price__details td {
  height: 60px;
  border-bottom: 1px dashed #cccccc;
  width: 33.33333333333%; }

.price__details-hint {
  max-width: 376px;
  margin: 0 auto;
  color: #666;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 28px;
  text-align: center; }

.price__details-hint:before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("../img/icon-star.png");
  margin-right: 20px; }

.price__link {
  list-style: none;
  height: 17px;
  overflow: hidden; }

.price__link li {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.price__link li a {
  display: inline-block;
  padding-right: 30px;
  color: #db3333;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  text-decoration: underline; }

.price__link li a:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 2px;
  width: 20px;
  height: 9px;
  background: url("../img/svg/arrow-red.svg") no-repeat;
  background-size: cover; }

.price__link li a:hover {
  color: #db3333; }

.price__link li a:hover:before {
  -webkit-animation: right-leftRight .5s infinite;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate;
  /* Safari 4.0 - 8.0 */
  animation: right-leftRight .5s infinite;
  animation-direction: alternate; }

@-webkit-keyframes right-leftRight {
  from {
    right: 0; }
  to {
    right: 10px; } }

@keyframes right-leftRight {
  from {
    right: 0; }
  to {
    right: 10px; } }

.price_right {
  text-align: right; }

.price_right .price__details {
  left: initial;
  right: 0; }

.img-price-wrapper {
  top: 46px;
  left: -30px;
  width: 451px;
  height: 451px;
  position: relative;
  background: url("../img/bg-price-img.png") no-repeat center;
  background-size: cover; }

.img-price-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%; }

.img-price-wrapper img:first-child {
  margin-left: 16px;
  margin-top: 34px;
  -webkit-animation-name: layer1;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s;
  /* Safari 4.0 - 8.0 */
  animation-name: layer1;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.img-price-wrapper img:nth-child(2) {
  left: 4%;
  margin-top: -94px; }

.img-price-wrapper img:nth-child(3) {
  margin-left: 22px;
  margin-top: 25px;
  -webkit-animation-name: layer1;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 8s;
  /* Safari 4.0 - 8.0 */
  animation-name: layer1;
  animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes layer1 {
  0% {
    left: 0px;
    top: 0px; }
  25% {
    left: 15px;
    top: 0px; }
  50% {
    left: 15px;
    top: 15px; }
  75% {
    left: 0px;
    top: 15px; }
  100% {
    left: 0px;
    top: 0px; } }

/* Standard syntax */
@keyframes layer1 {
  0% {
    left: 0px;
    top: 0px; }
  25% {
    left: 10px;
    top: 0px; }
  50% {
    left: 10px;
    top: 10px; }
  75% {
    left: 0px;
    top: 10px; }
  100% {
    left: 0px;
    top: 0px; } }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes layer3 {
  0% {
    left: 0px;
    top: 0px; }
  25% {
    left: 0px;
    top: -15px; }
  50% {
    left: 15px;
    top: -15px; }
  75% {
    left: 15px;
    top: 0px; }
  100% {
    left: 0px;
    top: 0px; } }

/* Standard syntax */
@keyframes layer3 {
  0% {
    left: 0;
    top: 0; }
  25% {
    left: 0px;
    top: -15px; }
  50% {
    left: 15px;
    top: -15px; }
  75% {
    left: 15px;
    top: 0px; }
  100% {
    left: 0px;
    top: 0px; } }

/* ---=== section#delivery ===---*/
#delivery {
  background: url("../img/bg-delivery.png") no-repeat center;
  background-size: cover; }

.section__title_white h2 {
  color: #fff; }

.delivery__icon {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 3px; }

.delivery__icon_tag {
  width: 12px;
  height: 16px;
  background: url("../img/svg/tag.svg"); }

.delivery__icon_user {
  width: 16px;
  height: 16px;
  background: url("../img/svg/user.svg"); }

.delivery__icon_bus {
  width: 16px;
  height: 16px;
  background: url("../img/svg/bus.svg"); }

.tab-navigate {
  list-style: none;
  display: block;
  text-align: center;
  font-size: 0;
  margin-bottom: 49px; }

.tab-navigate li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; }

.tab-navigate li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  min-width: 175px;
  padding: 0 20px;
  border-top: 1px solid #4f5053;
  border-bottom: 1px solid #4f5053;
  border-left: 1px solid #4f5053;
  background-color: rgba(219, 51, 51, 0); }

.tab-navigate li a:hover {
  text-decoration: none;
  color: #db3333; }

.tab-navigate li a:hover .delivery__icon_tag {
  background: url("../img/svg/tag-hover.svg"); }

.tab-navigate li a:hover .delivery__icon_user {
  background: url("../img/svg/user-hover.svg"); }

.tab-navigate li a:hover .delivery__icon_bus {
  background: url("../img/svg/bus-hover.svg"); }

.tab-navigate li:first-child a {
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px; }

.tab-navigate li:last-child a {
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
  border-right: 1px solid #4f5053; }

.tab-navigate li.active a {
  background: #db3333;
  border-color: #db3333; }

.tab-navigate li.active a:hover {
  color: #fff; }

.tab-navigate li.active a:hover .delivery__icon_tag {
  background: url("../img/svg/tag.svg"); }

.tab-navigate li.active a:hover .delivery__icon_user {
  background: url("../img/svg/user.svg"); }

.tab-navigate li.active a:hover .delivery__icon_bus {
  background: url("../img/svg/bus.svg"); }

.delivery__description p {
  font-size: 14px;
  line-height: 1.5;
  color: #999;
  font-weight: 400;
  text-align: center; }

.delivery__description p span {
  color: #fff;
  font-weight: 700;
  display: inline-block;
  margin-right: 5px; }

/*---=== #requrements ===--- */
#requrements {
  position: relative;
  overflow: hidden; }

#requrements .container {
  position: relative;
  z-index: 2; }

.text p {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 30px; }

.requrements__img-wrap {
  position: relative; }

.requrements__img-wrap span {
  position: absolute;
  display: block;
  text-align: center;
  text-shadow: 0 3px 25px rgba(0, 1, 1, 0.1);
  color: #ffffff;
  font-size: 120px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  z-index: 5; }

.requrements__img-wrap .background-layer {
  position: absolute;
  z-index: 1;
  -webkit-animation-name: layer1;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s;
  /* Safari 4.0 - 8.0 */
  animation-name: layer1;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.requrements__img-wrap .main-layer {
  position: relative;
  z-index: 10; }

.requrements__img-wrap .text-layer {
  opacity: 0;
  -webkit-animation-name: layer1;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 8s;
  /* Safari 4.0 - 8.0 */
  animation-name: layer1;
  animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.animatedImg.img-animation .text-layer {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important; }

/*---=== section#contact ===---*/
#contact {
  background: url("../img/bg-contact.png") no-repeat center;
  background-size: cover; }

.section__title_pink-span span {
  color: #ffcccc; }

.form-wrapper .butn-holder {
  padding-top: 20px;
  text-align: center; }

.input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #ffffff;
  border: 1px #fff solid;
  padding: 0 20px;
  color: #666;
  font-size: 14px;
  font-weight: 400; }

.input-row {
  margin-bottom: 15px; }

.message {
  width: 100%;
  max-width: 100%;
  height: 180px;
  max-height: 180px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #ffffff;
  border: 1px #fff solid;
  padding: 20px;
  color: #666;
  font-size: 14px;
  font-weight: 400; }

.jq-file.file {
  display: block;
  position: relative;
  top: -5px; }

.jq-file__name {
  float: left;
  width: -webkit-calc(100% - 175px);
  width: calc(100% - 175px);
  height: 50px;
  line-height: 50px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #ffffff;
  border: 1px #fff solid;
  padding: 0 20px;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  display: inline-block; }

.jq-file__browse {
  display: inline-block;
  margin-left: 10px;
  width: 165px;
  height: 50px;
  line-height: 50px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #e63f3f;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.input:hover, .input:focus, .message:hover, .message:focus {
  background: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  color: #fff; }

.file:hover .jq-file__name {
  background: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6); }

footer {
  background-color: #242424;
  padding: 25px 0; }

.footer__logo {
  display: block; }

.footer__logo svg {
  height: 84px; }

.footer__contacts {
  text-align: right; }

.footer__contacts a {
  line-height: 80px;
  display: inline-block; }

.footer__contacts a[href*=tel] {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  padding-left: 35px;
  position: relative; }

.footer__contacts a[href*=tel]:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 0;
  width: 22px;
  height: 22px;
  background: url("../img/svg/phone.svg"); }

.footer__contacts a[href*=mailto] {
  color: #db3333;
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
  padding-left: 35px;
  position: relative; }

.footer__contacts a[href*=mailto]:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 0;
  width: 21px;
  height: 16px;
  background: url("../img/svg/mail.svg"); }

.footer__contacts a + a {
  margin-left: 90px; }

.dev-logo {
  line-height: 80px;
  text-align: right; }

.dev-logo a {
  display: inline-block; }

.dev-logo img {
  max-height: 41px; }

.form__title {
  text-align: center; }

.form__title span {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-bottom: 20px; }

.form__title h3 {
  color: #242424;
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 40px; }

.modal-dialog {
  padding-right: 20px; }

.modal-content {
  -webkit-border-radius: 0;
          border-radius: 0;
  max-width: 380px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto; }

.close-x {
  top: -20px;
  right: -20px;
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer; }

.close-x:after, .close-x:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 22px;
  top: 7px;
  left: -3px;
  background: #fff; }

.close-x:hover:after, .close-x:hover:before {
  background: #db3333; }

.close-x:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-x:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.form-wrapper_modal {
  padding: 35px 30px; }

.form-wrapper_modal .input {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  background-color: rgba(255, 255, 255, 0); }

.form-wrapper_modal .input:focus, .form-wrapper_modal .input:hover {
  color: #666666;
  border-color: #db3333; }

.img-send {
  text-align: center; }

#thanks .form-wrapper {
  padding-left: 15px;
  padding-right: 15px; }

#thanks .form-wrapper h3 {
  letter-spacing: -1px; }

/*MEDIA QUERY*/
@media (max-width: 1299px) {
  .img-price-wrapper {
    max-width: 100%;
    background-size: contain; }
  .img-price-wrapper img {
    max-width: 100%; } }

@media (max-width: 1200px) {
  #about .img-animation img {
    max-width: 70%; }
  .animatedImg .img3 {
    right: 155px; } }

@media (max-width: 1130px) {
  .requrements__img-wrap span {
    font-size: 98px; } }

@media (max-width: 1023px) {
  .divider {
    display: none; } }

@media (max-width: 991px) {
  .banner__title h1 span:last-child {
    font-size: 60px;
    margin-top: 25px; }
  .hidden-on-991 {
    display: none; }
  .requrements__img-wrap .main-layer {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .footer__contacts {
    text-align: center; }
  .footer__contacts a + a {
    margin-left: 0; } }

@media (min-width: 768px) {
  #nav {
    display: block !important; } }

@media (max-width: 767px) {
  header .col-xs-9 {
    position: static; }
  header .container {
    position: relative; }
  .header__logo svg {
    height: 80px; }
  #nav {
    display: none;
    background: #db3333;
    position: absolute;
    top: -webkit-calc(100% + 10px);
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    bottom: -80vh;
    z-index: 999;
    margin-right: 0; }
  #nav li {
    display: block;
    margin-bottom: 15px; }
  #nav li a {
    text-align: center;
    font-size: 20px; }
  #hamburger {
    display: block; }
  .banner__img {
    display: none; }
  #banner {
    padding-bottom: 100px; }
  #banner .container {
    padding-top: 0;
    text-align: center; }
  .banner__title {
    display: inline-block; }
  .banner__title ul li {
    text-align: left; }
  .banner__title .butn.scrollTo {
    display: none; }
  .scroll-down {
    bottom: 6px; }
  #about .animatedImg {
    display: none; }
  .price_right {
    text-align: left; }
  .price__title_right {
    padding-left: 98px;
    padding-right: initial; }
  .price__title_right:before {
    left: 0;
    right: initial; }
  .price__details {
    right: 0;
    width: auto; }
  .price_right .price__details {
    left: 0; }
  footer, .dev-logo {
    text-align: center; }
  .footer__contacts a + a {
    margin-left: 30px; }
  .price__title_right:after {
    right: initial;
    left: 0; }
  .from-left .price__title:after {
    left: 0; } }

@media (max-width: 589px) {
  .tab-navigate li {
    display: block;
    margin-bottom: 5px; }
  .tab-navigate li a {
    border: 1px solid #4f5053;
    -webkit-border-radius: 3px;
            border-radius: 3px; } }

@media (max-width: 423px) {
  .banner__title h1 span:last-child {
    font-size: 35px; }
  .banner__title h1 {
    font-size: 22px; }
  .section__title h2 {
    font-size: 30px; }
  .requrements__img-wrap span {
    font-size: 68px; }
  .requrements__img-wrap img {
    max-width: 100%; }
  .footer__contacts {
    max-width: 265px;
    margin-left: auto;
    margin-right: auto; }
  .footer__contacts a + a {
    margin-left: 0; }
  .footer__contacts a {
    line-height: 40px; }
  .price__details {
    padding-left: 15px;
    padding-right: 15px; }
  .price__title {
    padding-left: 70px; }
  .price__title:after {
    width: 60px; }
  .form-wrapper_modal {
    padding: 25px 15px; } }
